body{
  margin:0;
  font-family:Arial, sans-serif;
  background:linear-gradient(135deg,#fff6ee,#ffe6f0,#fff0d9);
  overflow:hidden;
}

.container{
  width:100%;
  height:100vh;
  position:relative;
}

.page{
  display:none;
  width:100%;
  height:100vh;
  justify-content:center;
  align-items:center;
}

.page.active{
  display:flex;
}

.box{
  background:white;
  padding:30px;
  border-radius:25px;
  text-align:center;
  width:85%;
  max-width:400px;
  box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

img{
  width:200px;
  border-radius:15px;
  margin:15px 0;
}

button{
  padding:10px 20px;
  margin:10px;
  border:none;
  border-radius:20px;
  font-size:15px;
  cursor:pointer;
  background:#ff4d6d;
  color:white;
  transition:0.3s;
}

button:hover{
  transform:scale(1.1);
}

#noBtn{
  background:#444;
  position:relative;
}

/* Hearts */
.heart{
  position:fixed;
  bottom:0;
  font-size:20px;
  animation:fly 3s linear forwards;
}

@keyframes fly{
  0%{transform:translateY(0);opacity:1;}
  100%{transform:translateY(-600px);opacity:0;}
}

/* Rain */
.rain{
  position:fixed;
  top:-10px;
  width:2px;
  height:20px;
  background:lightblue;
  animation:rain 2s linear infinite;
}

@keyframes rain{
  0%{transform:translateY(0);}
  100%{transform:translateY(100vh);}
}
